<script id="iox-content-form-template" type="text/html">

  <%= render partial: '/iox/common/form_control', locals: { item_name: 'cloud_container' } %>

  <div class="iox-tabs">

    <ul>
      <li data-bind="css: { active: (id && id > 0) }"><a href="#files"><%= t('cloud_container.files') %></a></li>
      <li data-bind="css: { active: (!id || id == 0) }"><a href="#general"><%= t('cloud_container.settings') %></a></li>
      <li><a href="#shared-with"><%= t('cloud_container.shared_with') %></a></li>
    </ul>


    <div class="clearfix">
      <a name="files" class="hide"><%= t('cloud_container.files') %></a>

      <div class="iox-grid-header clearfix">
        <div class="select-files">
          <i class="icon-cloud-upload"></i>
          &nbsp;<span><%= t('cloud_container.upload') %></span>
          <input type="file" name="file" id="upload-file" />
          <div class="progress-num"></div>
          <div class="progress"><div class="bar"></div></div>
        </div>
        <div class="query-container">
          <input type="text" class="query" name="query" autocomplete="off" />
          <button class="clear-query"><i class="icon-remove"></i></button>
          <button class="submit-query"><i class="icon-search"></i></button>
        </div>
      </div>

      <div class="files-grid iox-k-grid"></div>
    </div>


    <div class="clearfix">
      <a name="general" class="hide"><%= t('general') %></a>

      <form data-bind="submit: (id ? saveItemForm : createItemForm)" class="iox-form">

        <input type="submit" class="hide" value="submit" />

        <div class="field-box required w-input">
          <label for="name"><%= t('name') %></label>
          <input type="text" class="js-get-focus" name="cloud_container[name]" data-bind="value: name" required validationMessage="<%= t('webpage.name_required') %>" />
        </div>

        <div class="field-box w-input">
          <label for="cloud_container[public_access_expires]"><%= t('cloud_container.public_access_expires') %></label>
          <input class="datepicker" type="text" name="cloud_container[access_expires]" data-bind="value: access_expires() ? moment(access_expires()).format('YYYY-MM-DD') : ''" />
          <span class="desc"><%= t('date_format') %></span>
        </div>

        <div class="fields-header"><%= t('cloud_container.access_control') %></div>

        <% (0..4).each do |rule| %>
          <div class="field-box">
            <input type="radio" name="cloud_container[access]" value="<%= rule %>" data-bind="attr: { checked: (access() === <%= rule %> ? 'checked' : null)}" />
            <span class="desc">
              <strong><%= t("cloud_container.rule_#{rule}") %></strong>
              <%= t("cloud_container.rule_#{rule}_desc") %>
            </span>
          </div>
        <% end %>

        <div class="fields-header"><%= t('cloud_container.access_key') %></div>

        <div class="field-box">
          <label for="access_key">&nbsp;</label>
          <input type="hidden" name="cloud_container[access_key]" data-bind="value: access_key" />
          <tt data-bind="text: '<%= request.protocol %><%= request.host %><%= ':'+request.port.to_s if request.port != 80 %>/iox/cc/'+access_key"></tt>
        </div>

      </form>

    </div><!-- tab -->

    <div class="clearfix">
      <a name="shared-with" class="hide"><%= t('cloud_container.access_control') %></a>
    </div>


  </div><!-- form-tabs -->

</script>